myn8n/1Y5FzMEqaYHEsXxR.json
{
  "active": false,
  "connections": {
    "Start Workflow": {
      "main": [
        [
          {
            "node": " Get \"To do\" Topics from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Get \"To do\" Topics from Sheet": {
      "main": [
        [
          {
            "node": "Scrape Articles via Dumpling AI Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Articles via Dumpling AI Search": {
      "main": [
        [
          {
            "node": "Summarize 3 Articles + Generate LinkedIn Post + Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enable GPT-4o for LangChain Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize 3 Articles + Generate LinkedIn Post + Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize 3 Articles + Generate LinkedIn Post + Image Prompt": {
      "main": [
        [
          {
            "node": " Extract Post Text and Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Extract Post Text and Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Image with Dumpling AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image with Dumpling AI": {
      "main": [
        [
          {
            "node": "Update Google Sheet with Post & Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-02T22:52:45.805Z",
  "id": "1Y5FzMEqaYHEsXxR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto-Generate LinkedIn Posts from Articles with Dumpling AI and GPT-4o",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        -120
      ],
      "id": "3e99adb0-0445-4516-9404-a96e5e273722",
      "name": "Start Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "173W0S2tDXXSSFmN6igySo9ftW4_MTH1Tr_2wGIRwHdg",
          "mode": "list",
          "cachedResultName": "content library",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/173W0S2tDXXSSFmN6igySo9ftW4_MTH1Tr_2wGIRwHdg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/173W0S2tDXXSSFmN6igySo9ftW4_MTH1Tr_2wGIRwHdg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -840,
        -120
      ],
      "id": "bed177e1-ac0b-4159-8ac7-ae51af05da37",
      "name": " Get \"To do\" Topics from Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://app.dumplingai.com/api/v1/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.Topic }}\",\n  \"numResultsToScrape\": \"3\",\n   \"scrapeResults\": \"true\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        -120
      ],
      "id": "cfd11e52-1a0b-4f55-a623-40f7f8233ef1",
      "name": "Scrape Articles via Dumpling AI Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RLFzAcGRepr5eXZB",
          "name": "Dumpling AI-n8n"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -400,
        80
      ],
      "id": "96f68697-8ef2-42a7-b9ef-10044cac2b0a",
      "name": "Enable GPT-4o for LangChain Agent",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1:{{ $json.organic[0].scrapeOutput.content }}\n\nArticle 2:{{ $json.organic[1].scrapeOutput.content }}\n\nArticle 3:{{ $json.organic[2].scrapeOutput.content }}",
        "options": {
          "systemMessage": "= Agent Prompt (Final Version):\nYou are a professional AI content assistant. Based on the 3 articles I will provide, generate a LinkedIn post and also create an image prompt that visually represents the message of the post.\n\nInstructions:\n\nRead all 3 articles.\n\nCombine key insights from them into a single LinkedIn post.\n\nWrite the post in a conversational, professional tone — no robotic language.\n\nThe first line must grab attention and spark curiosity.\n\nAvoid hashtags, emojis, and clickbait phrases.\n\nKeep the post under 1,300 characters.\n\nUse correct punctuation only. Do not use hyphens.\n\nAfter writing the post, generate a short and clear image prompt that can be used to create a LinkedIn graphic. It should be based on the main message or visual idea from the post.\n\nReturn your response in the following JSON format:\n\njson\nCopy\nEdit\n{\n  \"postText\": \"Write the full LinkedIn post here...\",\n  \"imagePrompt\": \"A short visual prompt that summarizes the theme of the post, such as 'A modern workspace with AI-powered tools automating business processes'\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -400,
        -120
      ],
      "id": "d2acc5f1-b366-4e07-8f1b-953c591f63b0",
      "name": "Summarize 3 Articles + Generate LinkedIn Post + Image Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc9d47f0-b4b9-437e-b37d-c1396d316b15",
              "name": "postText",
              "value": "={{ JSON.parse($json[\"output\"]).postText }}\n",
              "type": "string"
            },
            {
              "id": "fc8def21-2cc2-4029-a66d-df02530a1535",
              "name": "imagePrompt",
              "value": "={{ JSON.parse($json[\"output\"]).imagePrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -120
      ],
      "id": "d1f25b3a-3044-4ca6-937e-c61439d545c8",
      "name": " Extract Post Text and Image Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://app.dumplingai.com/api/v1/generate-ai-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"FLUX.1-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.imagePrompt }}\"\n  }\n}\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -120
      ],
      "id": "1ccd4791-92c9-4572-9e0c-cb60477dabdd",
      "name": "Generate Image with Dumpling AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RLFzAcGRepr5eXZB",
          "name": "Dumpling AI-n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "173W0S2tDXXSSFmN6igySo9ftW4_MTH1Tr_2wGIRwHdg",
          "mode": "list",
          "cachedResultName": "content library",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/173W0S2tDXXSSFmN6igySo9ftW4_MTH1Tr_2wGIRwHdg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/173W0S2tDXXSSFmN6igySo9ftW4_MTH1Tr_2wGIRwHdg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $(' Get \"To do\" Topics from Sheet').item.json.Topic }}",
            "Status": "created",
            "Content": "={{ $(' Extract Post Text and Image Prompt').item.json.postText }}",
            "Image": "={{ $json.images[0].url }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        -120
      ],
      "id": "be8bd9f0-1cff-41c9-b26e-c6f365aa86fd",
      "name": "Update Google Sheet with Post & Image",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 📚 Get Topic and Summarize Articles with AI\n\nThis part starts the workflow manually, pulls the first \"To do\" topic from a Google Sheet, and passes the topic to Dumpling AI to perform a Google search and scrape the top 3 article contents. The LangChain Agent, powered by GPT-4o, uses these articles to generate a LinkedIn post and an image prompt, all formatted in structured JSON. This combines real-world content scraping with AI summarization in one seamless step.\n",
        "height": 200,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1060,
        -280
      ],
      "typeVersion": 1,
      "id": "44ad06d9-d5f7-4a3c-a894-943ec46ac0f0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 🧠 Refine Output and Store Content\n\nOnce the AI Agent returns the LinkedIn post and image prompt, the Set node extracts both fields. Dumpling AI then uses the image prompt to generate a relevant visual. Finally, the result (post text, generated image, and topic) is saved back to the Google Sheet. This completes the loop from input topic to ready-to-use LinkedIn content with visuals—all automated.\n",
        "height": 200,
        "width": 760
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        -280
      ],
      "typeVersion": 1,
      "id": "528021a8-6b26-4177-b9fa-eb2405ac7d8d",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-05T20:42:15.000Z",
  "versionId": "db6dbd07-4d56-4783-a523-c5ffeb403605"
}