myn8n/AKfISaE8hA8EZPhV.json
{
  "active": false,
  "connections": {
    "Trigger on New Video Upload": {
      "main": [
        [
          {
            "node": "Download Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video File": {
      "main": [
        [
          {
            "node": "Convert Video to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Video to Base64": {
      "main": [
        [
          {
            "node": "Extract Key Insights with Dumpling AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Key Insights with Dumpling AI": {
      "main": [
        [
          {
            "node": "Generate Facebook Post & Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Facebook Post & Image Prompt": {
      "main": [
        [
          {
            "node": "Generate AI Image with Dumpling AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Image with Dumpling AI": {
      "main": [
        [
          {
            "node": "Save Post and Image URL to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-17T21:49:00.937Z",
  "id": "AKfISaE8hA8EZPhV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto-Generate Facebook Posts from Video Insights with Dumpling AI + GPT-4o",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1NU00YbKNiHJptNuQZH6kgVUhLvDzE0ka",
          "mode": "list",
          "cachedResultName": "n8n-video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1NU00YbKNiHJptNuQZH6kgVUhLvDzE0ka"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        0
      ],
      "id": "db55c7d2-85d7-4933-a8c6-8946a3772c2d",
      "name": "Trigger on New Video Upload",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B0Hulh0j065xznhI",
          "name": "nnekajennifer"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -800,
        0
      ],
      "id": "4b9e7acf-794e-4938-9e11-532db5c15e34",
      "name": "Download Video File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B0Hulh0j065xznhI",
          "name": "nnekajennifer"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -580,
        0
      ],
      "id": "088c9db2-8a26-4555-9f45-0212170670ac",
      "name": "Convert Video to Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/extract-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputMethod\": \"base64\",\n  \"video\": \"{{ $json.data }}\",\n  \"prompt\": \"You are an AI assistant that extracts key insights from a video transcript related to automation or technical tutorials. From the content, identify and return the following details clearly: 1. Topic of the video, 2. Main tools or platforms mentioned (e.g. N8N, 11Labs), 3. Purpose of the tutorial, 4. Key steps shared or demonstrated, 5. Important modules or actions discussed, 6. Any use case or real-world application mentioned, 7. Specific tips, issues, or recommendations shared by the creator. Focus only on the core lesson, and ignore filler intro or closing remarks unless they contain critical information. Respond only with the extracted data, do not repeat the transcript. Return your result in clean and structured JSON.\",\n  \"jsonMode\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        0
      ],
      "id": "ad4f47e1-ec0a-4194-adce-3bc4be074353",
      "name": "Extract Key Insights with Dumpling AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RLFzAcGRepr5eXZB",
          "name": "Dumpling AI-n8n"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional content writer and visual assistant. Based on the extracted key points from a technical tutorial video, your task is to do two things:\n\nWrite a short, engaging Facebook post using the extracted content. The post should sound natural and friendly, as if someone is casually sharing something valuable they learned. Focus on the main topic, tools mentioned, what was demonstrated, and why it matters. Avoid technical jargon, hashtags, or links unless included in the content. Keep it between 100 and 150 words.\n\nCreate a simple image prompt idea that could be used to generate a visual for the post. The image should support the post’s topic (e.g., showing a voice assistant, an automation flow, or AI tools in action). The prompt should be descriptive but concise, suitable for text-to-image generation.\n\nReturn your result in this JSON format:\n\n{\n  \"facebook_post\": \"string\",\n  \"image_prompt\": \"string\"\n}\nOnly output the JSON, no explanation or extra text.\n\n\n\n\n\n\n\n\n\n",
              "role": "system"
            },
            {
              "content": "=Here is the extracted content:{{ $('Extract Key Insights with Dumpling AI').item.json.results }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -140,
        0
      ],
      "id": "0c7cfd0f-0d99-410a-ac00-0d18926f1dba",
      "name": "Generate Facebook Post & Image Prompt",
      "credentials": {
        "openAiApi": {
          "id": "dd8NvMC6rvx8RITo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/generate-ai-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"recraft-v3\",\n  \"input\": {\n    \"prompt\": \"{{ $json.message.content.image_prompt}}\", \n    \"style\": \"any\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "c0e3ca61-c58f-410c-8d78-a20f368ba6a5",
      "name": "Generate AI Image with Dumpling AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RLFzAcGRepr5eXZB",
          "name": "Dumpling AI-n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE",
          "mode": "list",
          "cachedResultName": "facebook post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post": "={{ $('Generate Facebook Post & Image Prompt').item.json.message.content.facebook_post }}",
            "Image URL": "={{ $json.images[0].url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "9f6d375b-e2e7-4e2f-bab8-77fe1f803514",
      "name": "Save Post and Image URL to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 📌 Workflow Summary\n\nThis workflow listens to a specific Google Drive folder. When a new video is uploaded:\n\n1. It downloads the video file and converts it to base64.\n2. The base64 video is sent to Dumpling AI's `/extract-video` endpoint with a prompt to extract key tutorial insights.\n3. The extracted content is passed to OpenAI (GPT-4o) to generate a short Facebook post and a descriptive image prompt.\n4. The prompt is then used to generate an AI image using Dumpling AI's image endpoint.\n5. Finally, the Facebook post and image URL are logged in a Google Sheet for easy publishing or review.\n\nUse this workflow to automate content repurposing from your technical videos.\n",
        "height": 380,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -320
      ],
      "typeVersion": 1,
      "id": "7c08f7b1-5540-4a50-bfcb-c93d6ebf89fc",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Trigger on New Video Upload": [
      {
        "json": {
          "parents": [
            "1NU00YbKNiHJptNuQZH6kgVUhLvDzE0ka"
          ],
          "lastModifyingUser": {
            "displayName": "Nneka Jennifer Alisieze",
            "kind": "drive#user",
            "me": true,
            "permissionId": "13872179939933913025",
            "emailAddress": "nnekajenniferalisieze@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKCAELsjJ9Qppv0Kxqn-OzAtIPjciCPAwYLs5V7Akt8AZSgGSM=s64"
          },
          "owners": [
            {
              "displayName": "Nneka Jennifer Alisieze",
              "kind": "drive#user",
              "me": true,
              "permissionId": "13872179939933913025",
              "emailAddress": "nnekajenniferalisieze@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKCAELsjJ9Qppv0Kxqn-OzAtIPjciCPAwYLs5V7Akt8AZSgGSM=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "13872179939933913025",
              "type": "user",
              "emailAddress": "nnekajenniferalisieze@gmail.com",
              "role": "owner",
              "displayName": "Nneka Jennifer Alisieze",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKCAELsjJ9Qppv0Kxqn-OzAtIPjciCPAwYLs5V7Akt8AZSgGSM=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "13872179939933913025"
          ],
          "videoMediaMetadata": {
            "width": 854,
            "height": 480,
            "durationMillis": "658166"
          },
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "kind": "drive#file",
          "id": "1k2nT0tQh6U7qR2NxU_JMzF0oEi9YYJaR",
          "name": "Ultimate Guide to the ElevenLabs Node in n8n (AI Voice Agents).mp4",
          "mimeType": "video/mp4",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "7",
          "webContentLink": "https://drive.google.com/uc?id=1k2nT0tQh6U7qR2NxU_JMzF0oEi9YYJaR&export=download",
          "webViewLink": "https://drive.google.com/file/d/1k2nT0tQh6U7qR2NxU_JMzF0oEi9YYJaR/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/video/mp4",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPM8BsCFqa0sKirpxjHP-G_9WaauNnNtesi9HzH-TIbE6Eh3dAYZELGk1hKBjLzFTgeYUrFK3Sz6YmgqhUnR3mAwjYx7POUMGnGBV-YIMZBAtQ=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-06-17T21:47:18.212Z",
          "createdTime": "2025-06-17T21:47:18.212Z",
          "modifiedTime": "2025-06-17T21:46:00.000Z",
          "modifiedByMeTime": "2025-06-17T21:46:00.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "Ultimate Guide to the ElevenLabs Node in n8n (AI Voice Agents).mp4",
          "fullFileExtension": "mp4",
          "fileExtension": "mp4",
          "md5Checksum": "019c6b4fabe2b79eece91061581b209b",
          "sha1Checksum": "5448ff78c9f83c222ec63f175c42ae7f8ae7c98c",
          "sha256Checksum": "6cf6c040fb5b02fd400e13a0c36e08f76cc3bde500c235975211cc1167d746c0",
          "size": "20055056",
          "quotaBytesUsed": "20055056",
          "headRevisionId": "0B9Z2_-yY3S8oY3dlVjQ0S3I0V2ErdU8xd0xpSjNkRWJFQ0IwPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-18T02:04:18.000Z",
  "versionId": "7925d4c9-da76-43aa-a3ff-6a8fda9103d5"
}