myn8n/D3YKQWTlFoSxj7lp.json
{
  "active": false,
  "connections": {
    "Trigger on New URL in Sheet": {
      "main": [
        [
          {
            "node": "Take Full-Page Screenshot using Dumpling AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Full-Page Screenshot using Dumpling AI": {
      "main": [
        [
          {
            "node": "Extract All Visible Data from Screenshot (Dumpling AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All Visible Data from Screenshot (Dumpling AI)": {
      "main": [
        [
          {
            "node": "Download Screenshot File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Screenshot File": {
      "main": [
        [
          {
            "node": "Save Screenshot to Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Screenshot to Drive Folder": {
      "main": [
        [
          {
            "node": " Log Screenshot URL to Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Log Screenshot URL to Spreadsheet": {
      "main": [
        [
          {
            "node": "Extract Product Info from Screenshot Text with GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Info from Screenshot Text with GPT-4o": {
      "main": [
        [
          {
            "node": " Split Each Product into Individual Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Split Each Product into Individual Record": {
      "main": [
        [
          {
            "node": "Save Products info to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-21T22:48:11.504Z",
  "id": "D3YKQWTlFoSxj7lp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Extract Product Info from Webpage Screenshots using Dumpling AI and GPT-4o",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4",
          "mode": "list",
          "cachedResultName": "Competitors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        -180
      ],
      "id": "fd1389e6-1495-4226-a158-db98a2a5b1ab",
      "name": "Trigger on New URL in Sheet",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "qDzHSzTkclwDHpSR",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/screenshot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\":\"{{ $json.URL }}\",\n  \"fullPage\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        -180
      ],
      "id": "0c6cf56f-8244-4131-96c0-2dee533c68d4",
      "name": "Take Full-Page Screenshot using Dumpling AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RLFzAcGRepr5eXZB",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/extract-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputMethod\": \"url\",\n  \"images\": [\"{{ $json.screenshotUrl }}\"],\n  \"prompt\": \"You are a detail-oriented assistant. Analyze the screenshot provided and extract all visible information in a clear and organized way. Include all text content exactly as it appears, labels, buttons, icons, or form field names, any numbers, figures, or timestamps, section headers or groupings, notes or messages if any, and table data or list items if present. Present the result in a neatly structured format using plain text. Do not summarize, interpret, or skip anything. Maintain the original order and layout as much as possible for clarity.\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        -180
      ],
      "id": "aa6ba2a5-6d25-4ca7-afef-05b688bf630b",
      "name": "Extract All Visible Data from Screenshot (Dumpling AI)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RLFzAcGRepr5eXZB",
          "name": "n8n"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Take Full-Page Screenshot using Dumpling AI').item.json.screenshotUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -180
      ],
      "id": "574a04b5-3b5a-4f7e-830a-de3cb580e355",
      "name": "Download Screenshot File"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TT91LtI3ods32838DMggLM8v397DTWIH",
          "mode": "list",
          "cachedResultName": "Webpage-Screenshoot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TT91LtI3ods32838DMggLM8v397DTWIH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        -180
      ],
      "id": "41a174e8-15e5-4c95-840d-8b6a99ac3539",
      "name": "Save Screenshot to Drive Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B0Hulh0j065xznhI",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4",
          "mode": "list",
          "cachedResultName": "Competitors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Trigger on New URL in Sheet').item.json.URL }}",
            "screenshoot URL": "={{ $('Take Full-Page Screenshot using Dumpling AI').item.json.screenshotUrl }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "screenshoot URL",
              "displayName": "screenshoot URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary of the webpage",
              "displayName": "Summary of the webpage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        120,
        -180
      ],
      "id": "fcd1c828-0704-4d74-87f0-601320ec1740",
      "name": " Log Screenshot URL to Spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract only the product-related information from the text. For each product, return a JSON object with the following fields: \"name\", \"ratings\", \"purchased\", \"price\", \"deal\", \"delivery\", \"buyingOptions\", \"colorOptions\", and \"badges\". Include only the available fields for each product. If a field is not mentioned for a product, skip it. Ignore unrelated content like navigation, help, or footer sections. Return the final output as a JSON object with a top-level \"products\" array containing the structured results.\n\nExample JSON output:\n{\n  \"products\": [\n    {\n      \"name\": \"JBL Tune 510BT - Bluetooth headphones with up to 40 hours battery, microphone for call, foldable and comfortable\",\n      \"ratings\": \"76,254\",\n      \"purchased\": \"100K+ bought in past month\",\n      \"price\": \"$49.95\",\n      \"delivery\": \"FREE delivery Tue, May 27\",\n      \"deal\": \"Free 30 day Amazon music with purchase\",\n      \"buyingOptions\": \"$25.87 (2+ used & new offers)\",\n      \"colorOptions\": [\"Black\", \"Blue\", \"White\", \"Purple\"]\n    },\n    {\n      \"name\": \"Beats Studio Pro - Wireless Bluetooth Noise Cancelling Headphones\",\n      \"ratings\": \"20,437\",\n      \"purchased\": \"10K+ bought in past month\",\n      \"price\": \"$199.95\",\n      \"deal\": \"List: $349.95\",\n      \"delivery\": \"FREE delivery Tue, May 27\",\n      \"buyingOptions\": \"$146.65 (5+ used & new offers)\"\n    }\n  \n  ]\n}",
              "role": "system"
            },
            {
              "content": "=Here is the text: {{ $('Extract All Visible Data from Screenshot (Dumpling AI)').item.json.results }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        340,
        -180
      ],
      "id": "b8d6b452-be2d-41e2-aa67-911131ad66c5",
      "name": "Extract Product Info from Screenshot Text with GPT-4o",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.products",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        716,
        -180
      ],
      "id": "2c390314-9d9c-464d-a80b-b8c1e12bb671",
      "name": " Split Each Product into Individual Record"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4",
          "mode": "list",
          "cachedResultName": "Competitors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 641974727,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TDp408j9W1D8DF21XI5WrpeIA56qWjLBRlmWXqgo0p4/edit#gid=641974727"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product Name": "={{ $json.name }}",
            "price": "={{ $json.price }}",
            "purchased": "={{ $json.purchased }}",
            "ratings": "={{ $json.ratings }}",
            "deal": "={{ $json.deal }}",
            "buyingOptions": "={{ $json.buyingOptions }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "purchased",
              "displayName": "purchased",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ratings",
              "displayName": "ratings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deal",
              "displayName": "deal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "buyingOptions",
              "displayName": "buyingOptions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        936,
        -180
      ],
      "id": "94b7e7bf-5b8f-431a-9020-ca39c409ce0d",
      "name": "Save Products info to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 📸 Automate Screenshot Capture & Text Extraction\n\nThis first part of the workflow begins by monitoring a Google Sheet for new URLs. When a new row is added, Dumpling AI captures a full-page screenshot of the given URL. Then, Dumpling AI’s extract-image endpoint pulls all visible text and UI elements from the screenshot. The file is downloaded and saved in Google Drive for future reference. A separate log of the screenshot URL is written back to the original spreadsheet.\n",
        "height": 220,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        -360
      ],
      "typeVersion": 1,
      "id": "df27aa1a-1cbe-4913-90d1-09ac5a484677",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 🛍️ Extract and Store Product Listings with GPT-4o\n\nAfter saving the screenshot, GPT-4o receives the extracted text and processes it to identify structured product details like name, price, rating, purchase volume, deals, and buying options. Each product is split into an individual record using a Split Out node. Finally, each product is appended to a different sheet for structured logging and analysis.\n",
        "height": 220,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -360
      ],
      "typeVersion": 1,
      "id": "657a7360-b9d1-40c5-93a5-be032c22de88",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-21T23:36:43.000Z",
  "versionId": "991d7669-24c9-40b5-b921-07c63f9778c0"
}