myn8n/GraAdqS3kx60AfW5.json
{
  "active": false,
  "connections": {
    "Monitor Gmail Inbox for New Emails": {
      "main": [
        [
          {
            "node": "Classify Email as Customer Enquiry or Not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email as Customer Enquiry or Not": {
      "main": [
        [
          {
            "node": "Answer Customer Enquiries Using Only Knowledgebase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit if Not an Enquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language Model Context for Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Email as Customer Enquiry or Not",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Maintain Thread Context for Responses": {
      "ai_memory": [
        [
          {
            "node": "Answer Customer Enquiries Using Only Knowledgebase",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    " Query Knowledgebase for Relevant FAQ Content": {
      "ai_tool": [
        [
          {
            "node": "Answer Customer Enquiries Using Only Knowledgebase",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embed Queries for Pinecone Matching": {
      "ai_embedding": [
        [
          {
            "node": " Query Knowledgebase for Relevant FAQ Content",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer Customer Enquiries Using Only Knowledgebase": {
      "main": [
        [
          {
            "node": "Add Label to Processed Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Language Model for Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Customer Enquiries Using Only Knowledgebase",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Label to Processed Email": {
      "main": [
        [
          {
            "node": "Reply to Customer with Generated Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-02T19:27:51.008Z",
  "id": "GraAdqS3kx60AfW5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto-Respond to Gmail Enquiries Using AI and Pinecone Knowledgebase",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1740,
        -140
      ],
      "id": "972d23d4-f660-43a9-827b-286732c93b98",
      "name": "Monitor Gmail Inbox for New Emails",
      "credentials": {
        "gmailOAuth2": {
          "id": "j70r3RTMED1pgN3R",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "FAQs",
              "description": "Classify incoming emails to detect customer enquiries by analyzing intent, phrasing, and context. Ensure accurate tagging to separate genuine enquiries from other messages."
            },
            {
              "category": "do nothing",
              "description": "if its any other email that is not customer enquiry"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -1480,
        -140
      ],
      "id": "d7b8af5d-80ce-420f-9aaa-8ddeb1d00f60",
      "name": "Classify Email as Customer Enquiry or Not"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1460,
        80
      ],
      "id": "81247418-1786-40f4-80bd-282db0babe7b",
      "name": "Language Model Context for Classifier",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1180,
        80
      ],
      "id": "00bcebf5-fac9-4ec6-9cf9-9468b1efe59e",
      "name": "Exit if Not an Enquiry"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -940,
        -80
      ],
      "id": "bfa62bf7-f547-4160-96e1-5b3812d73a58",
      "name": "Maintain Thread Context for Responses"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgebase",
        "toolDescription": "use this tool to retrieve accurate answers to customer enquiries ",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -820,
        -80
      ],
      "id": "6a115bd5-4999-4179-8321-9e5c994e3cb7",
      "name": " Query Knowledgebase for Relevant FAQ Content",
      "credentials": {
        "pineconeApi": {
          "id": "ED3drjBZhQWgyuJi",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        120
      ],
      "id": "2ece9949-1e7f-4f52-bcee-09e9439c47af",
      "name": "Embed Queries for Pinecone Matching",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a support assistant for a beauty salon. You must answer customer enquiries using only the information retrieved from the connected knowledgebase. Always perform a retrieval query to fetch relevant data before generating a response.\n\nInstructions:\n\nUse only the retrieved knowledgebase content to respond. Do not generate answers from general knowledge or assumptions.\n\nIf relevant information is found, provide a clear, friendly, and helpful reply using that content.\n\nIf the answer cannot be found in the retrieved context, respond with:\n“Thank you for your message. A representative will reach out to you with a reply shortly.”\n\nDo not reference the knowledgebase, database, retrieval process, or system logic in your response to the user.\n\nKeep your tone warm, professional, and concise. Stay aligned with salon communication style.\n\nlastly, provide only the response body, no subject line \n\nYour job is to assist only with accurate, verified information from the knowledgebase. If something is not covered, escalate politely.\n\n\n\n\n\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1020,
        -300
      ],
      "id": "7d2ef46a-f765-4122-aeda-4d7b5bf4a0e9",
      "name": "Answer Customer Enquiries Using Only Knowledgebase"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1100,
        -100
      ],
      "id": "fdaa2b09-0e33-4d2c-9ae7-39c38b9de318",
      "name": "Support Language Model for Agent",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Monitor Gmail Inbox for New Emails').item.json.id }}",
        "labelIds": [
          "Label_5797557662927900712"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -660,
        -300
      ],
      "id": "ca21078c-9aac-4285-9236-36d0d66b628c",
      "name": "Add Label to Processed Email",
      "webhookId": "c6d1e0c8-eb93-44c0-a73a-885031bebcdb",
      "credentials": {
        "gmailOAuth2": {
          "id": "j70r3RTMED1pgN3R",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Monitor Gmail Inbox for New Emails').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('Answer Customer Enquiries Using Only Knowledgebase').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -420,
        -300
      ],
      "id": "9ec27a7c-8df2-4373-bedc-bb0a8a63a4aa",
      "name": "Reply to Customer with Generated Response",
      "webhookId": "606b9294-c49d-4c88-86a8-a3e579b3570e",
      "credentials": {
        "gmailOAuth2": {
          "id": "j70r3RTMED1pgN3R",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "### 📩 Gmail Auto-Responder for Customer Enquiries with Knowledgebase Search\n\nThis workflow checks new emails in Gmail every minute. It classifies whether each message is a customer enquiry using a Text Classifier node. Non-enquiry emails are skipped. For enquiry emails, the AI Agent responds using only verified content pulled from a Pinecone knowledgebase.\n\nThe workflow embeds the incoming message with OpenAI and matches it to relevant data in Pinecone (FAQs namespace). The AI Agent then builds a reply using only this content. A memory node ensures conversation continuity by session ID. Responses are warm, professional, and accurate. Finally, Gmail sends the reply and adds a label to mark the thread as handled.\n",
        "height": 460,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1840,
        -380
      ],
      "typeVersion": 1,
      "id": "b28daad1-901d-49e6-a2fb-ff3693dfc507",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1748956539,
        "possibleDuplicates": [
          "19735eeea1df6718",
          "19735ee467c772fa"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-04T16:17:45.000Z",
  "versionId": "d843f3e8-da0f-4406-a563-c3f5746ed6e1"
}