myn8n/HlVn82cNQLDWx73K.json
{
  "active": false,
  "connections": {
    "Start Workflow Manually": {
      "main": [
        [
          {
            "node": "Get Website URLs from Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Website URLs from Google Sheet": {
      "main": [
        [
          {
            "node": "Crawl and Extract Site Content with Dumpling AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl and Extract Site Content with Dumpling AI": {
      "main": [
        [
          {
            "node": "Split Extracted Results into Individual Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Extracted Results into Individual Items": {
      "main": [
        [
          {
            "node": "Map Title, URL, and Page Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Title, URL, and Page Text": {
      "main": [
        [
          {
            "node": " Combine Articles into Single Prompt Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Combine Articles into Single Prompt Format": {
      "main": [
        [
          {
            "node": " Generate HTML Newsletter with Subject Using GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Generate HTML Newsletter with Subject Using GPT-4o": {
      "main": [
        [
          {
            "node": "Send Newsletter via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-03T09:51:12.883Z",
  "id": "HlVn82cNQLDWx73K",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Newsletter Builder: Crawl Sites with Dumpling AI, Summarize with GPT-4o",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -160
      ],
      "id": "b607052f-8712-4cce-977e-6216da30a144",
      "name": "Start Workflow Manually"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10AQk_0kG8d0fa7gwbm0W8f9CyMZ9syPGksQoMNBkut4",
          "mode": "list",
          "cachedResultName": "sites",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10AQk_0kG8d0fa7gwbm0W8f9CyMZ9syPGksQoMNBkut4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10AQk_0kG8d0fa7gwbm0W8f9CyMZ9syPGksQoMNBkut4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -580,
        -160
      ],
      "id": "5bf110b3-a678-4a34-a4c9-3a87ab22774f",
      "name": "Get Website URLs from Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/crawl",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.websites }}\", \n  \"limit\": \"5\",\n  \"depth\": \"2\", \n  \"format\": \"text\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        -160
      ],
      "id": "a996f64a-bb61-493d-90ca-dce9d465fd58",
      "name": "Crawl and Extract Site Content with Dumpling AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5CBvzXCLjwWzCJRE",
          "name": "n8n_integration"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -140,
        -160
      ],
      "id": "01d0b913-cfdc-4144-8556-d5c18221cf7c",
      "name": "Split Extracted Results into Individual Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51ae9a51-06f4-46b1-979e-578eb5dc361c",
              "name": "metadata.title",
              "value": "={{ $json.metadata.title }}",
              "type": "string"
            },
            {
              "id": "2f16ef6f-cc2f-4a4d-a5e7-3cdde3465398",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "31ac95b7-beeb-4b3b-8e52-ed75027ae379",
              "name": "metadata.original_url",
              "value": "={{ $json.metadata.original_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -160
      ],
      "id": "9d69abfa-c867-4fbc-83a2-58723f3c4dfb",
      "name": "Map Title, URL, and Page Text"
    },
    {
      "parameters": {
        "jsCode": "let output = '';\nitems.forEach((item, index) => {\n  const title = item.json.metadata?.title || 'No title';\n  const url = item.json.metadata?.original_url || 'No URL';\n  const content = item.json.content || 'No content';\n\n  output += `${index + 1}. ${title}\\n${url}\\n${content}\\n\\n`;\n});\n\nreturn [{ json: { aggregatedArticles: output } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -160
      ],
      "id": "eaaa909d-92df-4837-a474-d533577c5621",
      "name": " Combine Articles into Single Prompt Format"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a newsletter assistant that creates a compelling subject line and summarizes a list of articles in engaging, well-structured HTML format.\n\nInstructions:\n\n1. Read the list of articles. Each article includes a title, content, and original URL.\n2. First, generate a short, catchy subject line for the newsletter based on the overall theme of the articles.\n3. Then, for each article:\n   - Write the title inside an <h3> tag.\n   - Summarize the article in 2 to 3 engaging sentences inside a <p> tag.\n   - Below the summary, write: “To read more, click the link:” and include the original URL as a clickable link inside another <p> tag.\n   - Add a <br/> to separate entries.\n\nReturn the result in this JSON format:\n\n{\n  \"subject\": \"[Newsletter subject line]\",\n  \"body\": \"[HTML body with all the articles]\"\n}\n\nOnly output the JSON. Do not explain anything else.\n\n\n\nHere is the input:{{ $json.aggregatedArticles }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        520,
        -160
      ],
      "id": "b2691018-fa64-4a55-a5e9-e68733ab9a7a",
      "name": " Generate HTML Newsletter with Subject Using GPT-4o",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nalisieze@gmail.com",
        "subject": "={{ $json.message.content.subject }}",
        "message": "={{ $json.message.content.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        -160
      ],
      "id": "c1266ac2-e2c0-4258-be9d-08c1ae6f3727",
      "name": "Send Newsletter via Gmail",
      "webhookId": "d883af34-9a6e-406e-8eee-42d501bc5791",
      "credentials": {
        "gmailOAuth2": {
          "id": "j70r3RTMED1pgN3R",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "### 🌐 Get Website Content Using Dumpling AI\n\nThis section starts with a manual trigger, then fetches a list of website URLs from a connected Google Sheet. Each URL is sent to Dumpling AI’s crawl endpoint, which extracts readable content up to a set depth. The response is an array of article-like results. These are then split one by one for individual processing. The `Set` node maps key fields such as the original URL, article title, and cleaned content for each page.\n",
        "height": 200,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -360
      ],
      "typeVersion": 1,
      "id": "25e0a2b5-5c27-4176-b9d8-4e91d15d86cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 🧠 Summarize and Email AI-Generated Newsletter\n\nAfter extracting and mapping each article’s data, the `Code` node formats all the articles into a readable string prompt. GPT-4o is used to create a newsletter-style HTML body and catchy subject line based on the content. Finally, the result is sent using the Gmail node, delivering a ready-to-send AI-generated newsletter straight to the recipient’s inbox.\n",
        "height": 220,
        "width": 660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        -360
      ],
      "typeVersion": 1,
      "id": "9ca5931f-6637-4371-8830-d73801381276",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-06T23:37:59.000Z",
  "versionId": "a86325fc-4f26-4052-8883-ec983049f51d"
}