myn8n/MyJ84ASqWdHGYuy0.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Route AI Tasks with Dumpling + GPT + Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News Agent": {
      "ai_tool": [
        [
          {
            "node": "Route AI Tasks with Dumpling + GPT + Memory",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Local Business Finder Agent": {
      "ai_tool": [
        [
          {
            "node": "Route AI Tasks with Dumpling + GPT + Memory",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Track Last 10 Messages ": {
      "ai_memory": [
        [
          {
            "node": "Route AI Tasks with Dumpling + GPT + Memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Route AI Tasks with Dumpling + GPT + Memory": {
      "main": [
        []
      ]
    },
    "Process Input with GPT-4o Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Route AI Tasks with Dumpling + GPT + Memory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Save Business Results": {
      "ai_tool": [
        [
          {
            "node": "Route AI Tasks with Dumpling + GPT + Memory",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-15T18:01:35.973Z",
  "id": "MyJ84ASqWdHGYuy0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Chat Agent: Dumpling AI + GPT-4o to Auto-Save Local Business Data to Airtable",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -40
      ],
      "id": "1617006d-20d8-44da-8410-1fbbd6bc317e",
      "name": "When chat message received",
      "webhookId": "13e55a07-d144-403b-b465-2a539501b207"
    },
    {
      "parameters": {
        "content": "#### 🧠 Workflow Purpose\nAn interactive chat assistant that listens for incoming messages, processes them with AI, and uses Dumpling AI to fetch external information or complete tasks — with memory tracking.\n\n## 🔄 Workflow Steps\n\n### 1. Chat Trigger\n- Listens for chat messages (e.g., from a web app or messaging platform).\n\n### 2. OpenAI Chat Model\n- Processes the user's input using GPT-4o mini.\n\n### 3. Simple Memory Buffer\n- Keeps context from the last 10 exchanges to maintain a conversational flow.\n\n### 4. DumplingAI- News Agent and Local Business Finder Agent\n- Makes an external API call to Dumpling AI’s agent endpoint to search or generate responses based on user intent.\n\n### 5. AI Agent Node\n- Connects all components: language model, memory, and external tools.\n\n### 6. Airtable Tool – Dynamic Business Data Storage\n\n-This Airtable node auto-populates and updates a “Local Business” table using data returned from Dumpling AI’s Local Business Finder Agent. It maps essential fields such as:\n\n\n## ⚙️ Notes\n- Dumpling AI agent ID is pre-configured.\n- JSON response from Dumpling is parsed as usable data.\n- You can add routing or fallback logic based on Dumpling's results.\n\n##### 💡 Tip\nTo customize it for a specific domain (e.g., real estate, restaurant finder, course assistant), adjust the agent prompt or plug in a domain-specific tool module.\n\n",
        "height": 900,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1480,
        -460
      ],
      "id": "ccb3073d-4c39-44bf-bd7f-05a6ae0550cb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/agents/generate-completion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\":\"{{ $json.chatInput}}\"\n    }\n  ],\n  \"agentId\": \"31fc9902-aebc-4c1a-bc7c-53c41b3cf73a\",\n  \"parseJson\": \"True\"\n  }",
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -20,
        180
      ],
      "id": "266e0454-5133-4287-a449-2eb1d3d00485",
      "name": "News Agent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xamyMqCpAech5BeT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/agents/generate-completion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\":\"{{ $json.chatInput}}\"\n    }\n  ],\n  \"agentId\": \"7a8cad79-2d74-4ff4-9688-072f74f3d764\",\n  \"parseJson\": \"false\"\n  }",
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        100,
        180
      ],
      "id": "b3d834d7-eeb5-4ce8-bb45-2d6b58f8c0a9",
      "name": "Local Business Finder Agent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xamyMqCpAech5BeT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        180
      ],
      "id": "bc75a2b5-8d99-487a-a9fc-12045b555207",
      "name": "Track Last 10 Messages "
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant\nUse the Local Business Finder Agent HTTP request tool to find local business\n\nUse the News agent HTTP request tool to get news\n\nUse the Create and update Airtable tool to send results from the Local Business Finder Agent HTTP request tool"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -100,
        -40
      ],
      "id": "0eb2b921-360e-4043-8a2f-301d10113dfc",
      "name": "Route AI Tasks with Dumpling + GPT + Memory",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        180
      ],
      "id": "948fafa9-6b4c-4656-b27f-ce5b1eb0d363",
      "name": "Process Input with GPT-4o Mini",
      "credentials": {
        "openAiApi": {
          "id": "gY2Jp4ypzmjcwwV6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appPSvSKdA6075xJC",
          "mode": "list",
          "cachedResultName": "Testing n8n",
          "cachedResultUrl": "https://airtable.com/appPSvSKdA6075xJC"
        },
        "table": {
          "__rl": true,
          "value": "tblgxhdRFc2fGLV9o",
          "mode": "list",
          "cachedResultName": "Local business",
          "cachedResultUrl": "https://airtable.com/appPSvSKdA6075xJC/tblgxhdRFc2fGLV9o"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "=",
            "Total Reviews": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Reviews', ``, 'number') }}",
            "Name of Restaurant": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name_of_Restaurant', ``, 'string') }}",
            "Rating": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Rating', ``, 'number') }}",
            "Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Address', ``, 'string') }}",
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Website": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Website', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name of Restaurant",
              "displayName": "Name of Restaurant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Reviews",
              "displayName": "Total Reviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        260,
        180
      ],
      "id": "4a07cedd-f40e-4123-a894-c53da751263f",
      "name": "Save Business Results",
      "credentials": {
        "airtableTokenApi": {
          "id": "H8PVkBgUPCcUhhRC",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-15T17:02:00.249Z",
      "updatedAt": "2025-04-15T17:02:00.249Z",
      "id": "TlcNkmb96fUfZ2eA",
      "name": "Tutorials"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-06T00:30:59.000Z",
  "versionId": "8ced69c8-d12f-49e6-9bc1-a95f78f7e0e4"
}