myn8n/pHuWdTQCyMMPFqdV.json
{
  "active": false,
  "connections": {
    "Run Every Day at 12 PM": {
      "main": [
        [
          {
            "node": "Get Search Keywords from Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Search Keywords from Google Sheet": {
      "main": [
        [
          {
            "node": "Fetch Autocomplete Suggestions (Dumpling AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Autocomplete Suggestions (Dumpling AI)": {
      "main": [
        [
          {
            "node": "Format Suggestions into Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Suggestions into Array": {
      "main": [
        [
          {
            "node": "Loop Through Each Autocomplete Suggestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Each Autocomplete Suggestion": {
      "main": [
        [
          {
            "node": "Generate Caption from Suggestion (GPT-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Caption from Suggestion (GPT-4o)": {
      "main": [
        [
          {
            "node": "Save Keyword & Generated Caption to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-03T00:26:09.111Z",
  "id": "pHuWdTQCyMMPFqdV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Captions from Autocomplete Ideas using Dumpling AI + GPT-4o",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1180,
        -120
      ],
      "id": "6beee45f-5f13-4dff-b560-ed1da4df5479",
      "name": "Run Every Day at 12 PM"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE",
          "mode": "list",
          "cachedResultName": "Google places",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 645811013,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE/edit#gid=645811013"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -940,
        -120
      ],
      "id": "795fe08c-bcb3-4563-a49c-527c09dc52a9",
      "name": "Get Search Keywords from Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/get-autocomplete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.Keywords }}\",\n  \"country\": \"US\",\n  \"language\": \"en\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        -120
      ],
      "id": "b85f5817-7b6d-4c18-8d30-7a9927ad22b2",
      "name": "Fetch Autocomplete Suggestions (Dumpling AI)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "RLFzAcGRepr5eXZB",
          "name": "Dumpling AI-n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44db444a-283b-4576-85ae-d964cf761324",
              "name": "suggestions",
              "value": "={{ $json.suggestions }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        -120
      ],
      "id": "199fad98-e64a-4da1-8cdc-9ac86fe0e418",
      "name": "Format Suggestions into Array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "suggestions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -280,
        -120
      ],
      "id": "00a81bf6-91a8-4f72-9bdf-723b0b122d68",
      "name": "Loop Through Each Autocomplete Suggestion"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a creative content writer for social media. Write a short, engaging, and relevant caption based on the search phrase below. The tone should be friendly and inspiring, and the caption should be optimized to grab attention on platforms like Instagram, LinkedIn, or Twitter.\n\n\nMake sure the caption:\n- Feels human and conversational\n- Includes a subtle hook or curiosity element\n- Stays under 280 characters\n- Does not repeat the phrase verbatim\n\nRespond with just the caption, nothing else.\n",
              "role": "system"
            },
            {
              "content": "=Search phrase: \"{{ $json.value }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -60,
        -120
      ],
      "id": "8f6dcb3e-dc41-4ce8-a521-2826329efe79",
      "name": "Generate Caption from Suggestion (GPT-4o)",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE",
          "mode": "list",
          "cachedResultName": "Google places",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1972422557,
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NkLQ4ZZ3qSv8HybYuKyW2BgViUij68ux4_SnoBphmWE/edit#gid=1972422557"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Keyword": "={{ $('Loop Through Each Autocomplete Suggestion').item.json.value }}",
            "Caption": "={{ $json.message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        300,
        -120
      ],
      "id": "e3483193-439c-4261-8791-82a18259efcf",
      "name": "Save Keyword & Generated Caption to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### ✨ Auto-Generate Social Captions from Trending Google Autocomplete\n\nThis workflow uses a search term from Google Sheets and fetches trending autocomplete suggestions using Dumpling AI’s `/get-autocomplete` endpoint. Each suggestion is looped and processed by GPT-4o to generate a short social media caption. The keyword and caption pair is saved to another sheet for content reuse.\n",
        "height": 200,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1220,
        -360
      ],
      "typeVersion": 1,
      "id": "9b7c800e-112e-45ae-bc2a-a5fc0ad7c2ed",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-03T22:49:59.000Z",
  "versionId": "d7f0397d-853a-48c7-ac92-c4cdeb410548"
}