myn8n/Q9K6tDu4TJpqtRQ1.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger – Watch Folder for New Files": {
      "main": [
        [
          {
            "node": "Download Invoice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Invoice File": {
      "main": [
        [
          {
            "node": "Convert invoice File to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert invoice File to Base64": {
      "main": [
        [
          {
            "node": "Send file to Dumpling AI for Data Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send file to Dumpling AI for Data Extraction": {
      "main": [
        [
          {
            "node": "Parse Dumpling AI JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dumpling AI JSON Response": {
      "main": [
        [
          {
            "node": "Split line Items from Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split line Items from Invoice": {
      "main": [
        [
          {
            "node": "Save Data to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-03T08:24:47.465Z",
  "id": "Q9K6tDu4TJpqtRQ1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Extract and Save Invoice Data from Google Drive to Sheets with Dumpling AI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Dquh3PguyBImKvHlbkp55NBvYoB8IKr5",
          "mode": "list",
          "cachedResultName": "invoice-n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Dquh3PguyBImKvHlbkp55NBvYoB8IKr5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -180
      ],
      "id": "4cdec8f8-9e08-433f-832d-18a9af3f4531",
      "name": "Google Drive Trigger – Watch Folder for New Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B0Hulh0j065xznhI",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        -180
      ],
      "id": "b67aea52-5f39-4fce-b476-d3b991b30519",
      "name": "Download Invoice File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B0Hulh0j065xznhI",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        280,
        -180
      ],
      "id": "94ccaf02-0070-4200-b778-139ea075949a",
      "name": "Convert invoice File to Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/extract-document",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputMethod\": \"base64\",\n  \"files\": [\"{{ $json.data }}\"], \n  \"prompt\": \"Extract the order number, document date, PO number, sold to name and address, ship to name and address, list of items with model, quantity, unit price, and total price, and the final total amount including tax.\", \n  \"jsonMode\": \"true\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -180
      ],
      "id": "760f6b02-65b6-4a28-af70-53602f8e2724",
      "name": "Send file to Dumpling AI for Data Extraction",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xamyMqCpAech5BeT",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.results;\nconst parsed = JSON.parse(raw);\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -180
      ],
      "id": "b5545cf6-8ebb-4c0e-903b-5a14af7de087",
      "name": "Parse Dumpling AI JSON Response"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        940,
        -180
      ],
      "id": "84318159-a0ce-4049-a7db-2ac0fa79b8d4",
      "name": "Split line Items from Invoice"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "170eyZdmRUNXlpSZmcl5PiHTUKjukd-soDQq2cAe6FQo",
          "mode": "list",
          "cachedResultName": "my invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170eyZdmRUNXlpSZmcl5PiHTUKjukd-soDQq2cAe6FQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170eyZdmRUNXlpSZmcl5PiHTUKjukd-soDQq2cAe6FQo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order number": "={{ $('Parse Dumpling AI JSON Response').item.json.order_number }}",
            "Document Date": "={{ $('Parse Dumpling AI JSON Response').item.json.document_date }}",
            "Po_number": "={{ $('Parse Dumpling AI JSON Response').item.json.PO_number }}",
            "Sold to name": "={{ $('Parse Dumpling AI JSON Response').item.json.sold_to_name }}",
            "Sold to address": "={{ $('Parse Dumpling AI JSON Response').item.json.sold_to_address }}",
            "Ship to name": "={{ $('Parse Dumpling AI JSON Response').item.json.ship_to_name }}",
            "Ship to address": "={{ $('Parse Dumpling AI JSON Response').item.json.ship_to_address }}",
            "Model": "={{ $json.model }}",
            "Description": "={{ $json.description }}",
            "Quantity": "={{ $json.quantity }}",
            "Unity price": "={{ $json.unit_price }}",
            "Total price": "={{ $json.total_price }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order number",
              "displayName": "Order number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Date",
              "displayName": "Document Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Po_number",
              "displayName": "Po_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sold to name",
              "displayName": "Sold to name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sold to address",
              "displayName": "Sold to address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ship to name",
              "displayName": "Ship to name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ship to address",
              "displayName": "Ship to address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unity price",
              "displayName": "Unity price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total price",
              "displayName": "Total price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1140,
        -180
      ],
      "id": "834d6b99-cd0e-4633-949d-40e53ba06324",
      "name": "Save Data to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GaJqJHuS5mQxap7q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 📌 **Workflow Overview: Extract & Save Invoice Data from Google Drive with Dumpling AI**\n\n#### This workflow monitors a Google Drive folder for new files (invoices), extracts structured invoice data using Dumpling AI, and appends it to a Google Sheet.\n---\n🔹 **Node Breakdown:**\n\n1. **Google Drive Trigger** – Watches a folder for new invoice files.  \n2. **Download Invoice File** – Retrieves the uploaded file from Drive.  \n3. **Extract Base64** – Converts the downloaded file to base64 format.  \n4. **Dumpling AI Extraction** – Sends the base64 file with a prompt to Dumpling AI for invoice parsing.  \n5. **Parse AI Response** – Converts the returned JSON string into readable structured data.  \n6. **Split Line Items** – Breaks the `items` array into individual invoice entries.  \n7. **Append to Google Sheet** – Saves the invoice data row by row into the target spreadsheet.\n\n✅ Make sure you have your Dumpling AI API key and correct Google Sheet ID in place before running the workflow.\n\n",
        "height": 500,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        -400
      ],
      "typeVersion": 1,
      "id": "f98684d0-6c7b-4ba2-b820-4b30e9ff10c1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Send file to Dumpling AI for Data Extraction": [
      {
        "json": {
          "results": "{\n  \"order_number\": \"FN29709\",\n  \"document_date\": \"08/23/2024\",\n  \"PO_number\": \"ASHLEY OAK\",\n  \"sold_to_name\": \"CARNES & SONS LLC\",\n  \"sold_to_address\": \"9988 MACAWAY RD, ADKINS TX 78101\",\n  \"ship_to_name\": \"CARNES & SONS LLC\",\n  \"ship_to_address\": \"DAIKIN COMFORT TECHNOLOGY #364, 4980 EISENHAUER RD, SUITE 206 SAN ANTONIO TX 78218\",\n  \"items\": [\n    {\n      \"model\": \"AMST42CU1300\",\n      \"description\": \"AIR HANDLER\",\n      \"quantity\": 1,\n      \"unit_price\": \"$773.85\",\n      \"total_price\": \"$773.85\"\n    },\n    {\n      \"model\": \"GLZS4BA4210\",\n      \"description\": \"14.3 SEER2 HP R32, 3.5 TON\",\n      \"quantity\": 1,\n      \"unit_price\": \"$1,508.85\",\n      \"total_price\": \"$1,508.85\"\n    },\n    {\n      \"model\": \"HKTSD15XB\",\n      \"description\": \"ELECTRIC HEAT KIT, 15 KW\",\n      \"quantity\": 1,\n      \"unit_price\": \"$156.00\",\n      \"total_price\": \"$156.00\"\n    },\n    {\n      \"model\": \"83615\",\n      \"description\": \"MARS 60A NON-FUSED DISCONNECT\",\n      \"quantity\": 1,\n      \"unit_price\": \"$15.39\",\n      \"total_price\": \"$15.39\"\n    },\n    {\n      \"model\": \"6RSR048118\",\n      \"description\": \"INSULTUBE TITAN 1/2\\\"X1-1/8\\\"X 6'\",\n      \"quantity\": 1,\n      \"unit_price\": \"$11.22\",\n      \"total_price\": \"$11.22\"\n    },\n    {\n      \"model\": \"SB-2\",\n      \"description\": \"2\\\" SEALANT BRUSH\",\n      \"quantity\": 1,\n      \"unit_price\": \"$0.67\",\n      \"total_price\": \"$0.67\"\n    },\n    {\n      \"model\": \"6RX048078\",\n      \"quantity\": 2,\n      \"unit_price\": \"$3.18\",\n      \"total_price\": \"$6.36\"\n    },\n    {\n      \"model\": \"CADS-1G\",\n      \"description\": \"FIBER DUCT SEALANT GRAY 1 GAL\",\n      \"quantity\": 1,\n      \"unit_price\": \"$14.36\",\n      \"total_price\": \"$14.36\"\n    },\n    {\n      \"model\": \"599390-EC\",\n      \"description\": \"20X20 1-2\\\" F/C FILTER BASE\",\n      \"quantity\": 1,\n      \"unit_price\": \"$63.91\",\n      \"total_price\": \"$63.91\"\n    },\n    {\n      \"model\": \"CCF-8-2020-1\",\n      \"description\": \"CC M8 PLEAT FILTER 20X20X1\",\n      \"quantity\": 1,\n      \"unit_price\": \"$4.09\",\n      \"total_price\": \"$4.09\"\n    },\n    {\n      \"model\": \"TH1110DH1003\",\n      \"description\": \"PRO1000 1H/1C NON-PROG HORIZON\",\n      \"quantity\": 1,\n      \"unit_price\": \"$38.21\",\n      \"total_price\": \"$38.21\"\n    },\n    {\n      \"model\": \"401-007BC\",\n      \"description\": \"PVC 3/4 TEE SLIP\",\n      \"quantity\": 1,\n      \"unit_price\": \"$0.62\",\n      \"total_price\": \"$0.62\"\n    },\n    {\n      \"model\": \"436-007BC\",\n      \"description\": \"PVC 3/4 MALE ADPT MIPTXS\",\n      \"quantity\": 2,\n      \"unit_price\": \"$0.49\",\n      \"total_price\": \"$0.98\"\n    },\n    {\n      \"model\": \"406-007BC\",\n      \"description\": \"PVC 3/4 90 ELB SXS\",\n      \"quantity\": 2,\n      \"unit_price\": \"$0.46\",\n      \"total_price\": \"$0.92\"\n    },\n    {\n      \"model\": \"429-007BC\",\n      \"description\": \"PVC 3/4 COUP SLIP\",\n      \"quantity\": 3,\n      \"unit_price\": \"$0.45\",\n      \"total_price\": \"$1.34\"\n    },\n    {\n      \"model\": \"97085\",\n      \"description\": \"SAFE-T-SWITCH SS1-GEN3\",\n      \"quantity\": 1,\n      \"unit_price\": \"$33.31\",\n      \"total_price\": \"$33.31\"\n    },\n    {\n      \"model\": \"304100-HC\",\n      \"description\": \"MASTIC TAPE 3\\\" X 100'\",\n      \"quantity\": 1,\n      \"unit_price\": \"$31.84\",\n      \"total_price\": \"$31.84\"\n    },\n    {\n      \"model\": \"84137\",\n      \"description\": \"WHIP 3/4 X 6' 8GA NONMETALLIC\",\n      \"quantity\": 1,\n      \"unit_price\": \"$25.78\",\n      \"total_price\": \"$25.78\"\n    }\n  ],\n  \"total_amount\": \"$2,909.44\",\n  \"tax\": \"$221.74\"\n}",
          "prompt": "Extract the order number, document date, PO number, sold to name and address, ship to name and address, list of items with model, quantity, unit price, and total price, and the final total amount including tax.",
          "pages": 4,
          "fileCount": 1,
          "creditUsage": 14
        }
      }
    ],
    "Parse Dumpling AI JSON Response": [
      {
        "json": {
          "order_number": "FN29709",
          "document_date": "08/23/2024",
          "PO_number": "ASHLEY OAK",
          "sold_to_name": "CARNES & SONS LLC",
          "sold_to_address": "9988 MACAWAY RD, ADKINS TX 78101",
          "ship_to_name": "CARNES & SONS LLC",
          "ship_to_address": "DAIKIN COMFORT TECHNOLOGY #364, 4980 EISENHAUER RD, SUITE 206 SAN ANTONIO TX 78218",
          "items": [
            {
              "model": "AMST42CU1300",
              "description": "AIR HANDLER",
              "quantity": 1,
              "unit_price": "$773.85",
              "total_price": "$773.85"
            },
            {
              "model": "GLZS4BA4210",
              "description": "14.3 SEER2 HP R32, 3.5 TON",
              "quantity": 1,
              "unit_price": "$1,508.85",
              "total_price": "$1,508.85"
            },
            {
              "model": "HKTSD15XB",
              "description": "ELECTRIC HEAT KIT, 15 KW",
              "quantity": 1,
              "unit_price": "$156.00",
              "total_price": "$156.00"
            },
            {
              "model": "83615",
              "description": "MARS 60A NON-FUSED DISCONNECT",
              "quantity": 1,
              "unit_price": "$15.39",
              "total_price": "$15.39"
            },
            {
              "model": "6RSR048118",
              "description": "INSULTUBE TITAN 1/2\"X1-1/8\"X 6'",
              "quantity": 1,
              "unit_price": "$11.22",
              "total_price": "$11.22"
            },
            {
              "model": "SB-2",
              "description": "2\" SEALANT BRUSH",
              "quantity": 1,
              "unit_price": "$0.67",
              "total_price": "$0.67"
            },
            {
              "model": "6RX048078",
              "quantity": 2,
              "unit_price": "$3.18",
              "total_price": "$6.36"
            },
            {
              "model": "CADS-1G",
              "description": "FIBER DUCT SEALANT GRAY 1 GAL",
              "quantity": 1,
              "unit_price": "$14.36",
              "total_price": "$14.36"
            },
            {
              "model": "599390-EC",
              "description": "20X20 1-2\" F/C FILTER BASE",
              "quantity": 1,
              "unit_price": "$63.91",
              "total_price": "$63.91"
            },
            {
              "model": "CCF-8-2020-1",
              "description": "CC M8 PLEAT FILTER 20X20X1",
              "quantity": 1,
              "unit_price": "$4.09",
              "total_price": "$4.09"
            },
            {
              "model": "TH1110DH1003",
              "description": "PRO1000 1H/1C NON-PROG HORIZON",
              "quantity": 1,
              "unit_price": "$38.21",
              "total_price": "$38.21"
            },
            {
              "model": "401-007BC",
              "description": "PVC 3/4 TEE SLIP",
              "quantity": 1,
              "unit_price": "$0.62",
              "total_price": "$0.62"
            },
            {
              "model": "436-007BC",
              "description": "PVC 3/4 MALE ADPT MIPTXS",
              "quantity": 2,
              "unit_price": "$0.49",
              "total_price": "$0.98"
            },
            {
              "model": "406-007BC",
              "description": "PVC 3/4 90 ELB SXS",
              "quantity": 2,
              "unit_price": "$0.46",
              "total_price": "$0.92"
            },
            {
              "model": "429-007BC",
              "description": "PVC 3/4 COUP SLIP",
              "quantity": 3,
              "unit_price": "$0.45",
              "total_price": "$1.34"
            },
            {
              "model": "97085",
              "description": "SAFE-T-SWITCH SS1-GEN3",
              "quantity": 1,
              "unit_price": "$33.31",
              "total_price": "$33.31"
            },
            {
              "model": "304100-HC",
              "description": "MASTIC TAPE 3\" X 100'",
              "quantity": 1,
              "unit_price": "$31.84",
              "total_price": "$31.84"
            },
            {
              "model": "84137",
              "description": "WHIP 3/4 X 6' 8GA NONMETALLIC",
              "quantity": 1,
              "unit_price": "$25.78",
              "total_price": "$25.78"
            }
          ],
          "total_amount": "$2,909.44",
          "tax": "$221.74"
        }
      }
    ],
    "Split line Items from Invoice": [
      {
        "json": {
          "model": "AMST42CU1300",
          "description": "AIR HANDLER",
          "quantity": 1,
          "unit_price": "$773.85",
          "total_price": "$773.85"
        }
      },
      {
        "json": {
          "model": "GLZS4BA4210",
          "description": "14.3 SEER2 HP R32, 3.5 TON",
          "quantity": 1,
          "unit_price": "$1,508.85",
          "total_price": "$1,508.85"
        }
      },
      {
        "json": {
          "model": "HKTSD15XB",
          "description": "ELECTRIC HEAT KIT, 15 KW",
          "quantity": 1,
          "unit_price": "$156.00",
          "total_price": "$156.00"
        }
      },
      {
        "json": {
          "model": "83615",
          "description": "MARS 60A NON-FUSED DISCONNECT",
          "quantity": 1,
          "unit_price": "$15.39",
          "total_price": "$15.39"
        }
      },
      {
        "json": {
          "model": "6RSR048118",
          "description": "INSULTUBE TITAN 1/2\"X1-1/8\"X 6'",
          "quantity": 1,
          "unit_price": "$11.22",
          "total_price": "$11.22"
        }
      },
      {
        "json": {
          "model": "SB-2",
          "description": "2\" SEALANT BRUSH",
          "quantity": 1,
          "unit_price": "$0.67",
          "total_price": "$0.67"
        }
      },
      {
        "json": {
          "model": "6RX048078",
          "quantity": 2,
          "unit_price": "$3.18",
          "total_price": "$6.36"
        }
      },
      {
        "json": {
          "model": "CADS-1G",
          "description": "FIBER DUCT SEALANT GRAY 1 GAL",
          "quantity": 1,
          "unit_price": "$14.36",
          "total_price": "$14.36"
        }
      },
      {
        "json": {
          "model": "599390-EC",
          "description": "20X20 1-2\" F/C FILTER BASE",
          "quantity": 1,
          "unit_price": "$63.91",
          "total_price": "$63.91"
        }
      },
      {
        "json": {
          "model": "CCF-8-2020-1",
          "description": "CC M8 PLEAT FILTER 20X20X1",
          "quantity": 1,
          "unit_price": "$4.09",
          "total_price": "$4.09"
        }
      },
      {
        "json": {
          "model": "TH1110DH1003",
          "description": "PRO1000 1H/1C NON-PROG HORIZON",
          "quantity": 1,
          "unit_price": "$38.21",
          "total_price": "$38.21"
        }
      },
      {
        "json": {
          "model": "401-007BC",
          "description": "PVC 3/4 TEE SLIP",
          "quantity": 1,
          "unit_price": "$0.62",
          "total_price": "$0.62"
        }
      },
      {
        "json": {
          "model": "436-007BC",
          "description": "PVC 3/4 MALE ADPT MIPTXS",
          "quantity": 2,
          "unit_price": "$0.49",
          "total_price": "$0.98"
        }
      },
      {
        "json": {
          "model": "406-007BC",
          "description": "PVC 3/4 90 ELB SXS",
          "quantity": 2,
          "unit_price": "$0.46",
          "total_price": "$0.92"
        }
      },
      {
        "json": {
          "model": "429-007BC",
          "description": "PVC 3/4 COUP SLIP",
          "quantity": 3,
          "unit_price": "$0.45",
          "total_price": "$1.34"
        }
      },
      {
        "json": {
          "model": "97085",
          "description": "SAFE-T-SWITCH SS1-GEN3",
          "quantity": 1,
          "unit_price": "$33.31",
          "total_price": "$33.31"
        }
      },
      {
        "json": {
          "model": "304100-HC",
          "description": "MASTIC TAPE 3\" X 100'",
          "quantity": 1,
          "unit_price": "$31.84",
          "total_price": "$31.84"
        }
      },
      {
        "json": {
          "model": "84137",
          "description": "WHIP 3/4 X 6' 8GA NONMETALLIC",
          "quantity": 1,
          "unit_price": "$25.78",
          "total_price": "$25.78"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-23T21:59:36.000Z",
  "versionId": "d880b5d3-de77-45d8-b32e-1eebfc3699f4"
}