myn8n/Upload Files to Supabase
{
  "name": "Upload_KnowledgeBase in supabase",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1648,
        96
      ],
      "id": "ecd18115-3ff5-4215-9568-5159b80db4bb",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        320
      ],
      "id": "2f21abb7-26a8-4503-bf79-849b69e06522",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TgvP6xEbKcWZ2EQW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KhUYRzYPUZMQgUjdk01cfEAoitUfsWbU",
          "mode": "list",
          "cachedResultName": "files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KhUYRzYPUZMQgUjdk01cfEAoitUfsWbU"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -128
      ],
      "id": "2ee8721b-5c34-4cb3-a4a3-5af4eb9ca0fd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nEtpJhJoOfvwlOzK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        16
      ],
      "id": "b5aa33cb-071f-4a72-a939-67dc79b6f8b4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nEtpJhJoOfvwlOzK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_checker",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "Google_ID",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        16
      ],
      "id": "c9ce34a4-c6e5-41c9-b5cf-afc544c2f3bc",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "binaryData": true,
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        48,
        16
      ],
      "id": "a87171dd-5eb3-47a4-868c-bc72d0ddb60f",
      "name": "Crypto"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        -128
      ],
      "id": "92f7c68f-b19e-4207-8e54-27cdc10dedd4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "tableId": "record_checker",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Google_ID",
              "fieldValue": "={{ $('Download file').item.json.id }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Crypto').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        -80
      ],
      "id": "8424702c-a617-4020-963f-daf270b0875b",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "11553ac8-f8fa-4694-a350-19a7bfb6883d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New_record"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15fb3a5e-efaf-4e05-9ca4-897d20d92bf2",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Crypto').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Same_record"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f73ea575-f3e1-4353-903b-0cd375aaedc6",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Crypto').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "diff.record"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        496,
        0
      ],
      "id": "b573e9e3-d02e-4581-89f6-20a7a5496025",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1168,
        16
      ],
      "id": "413610dd-b937-46ef-b5cd-12aed8aceccb",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nEtpJhJoOfvwlOzK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1744,
        320
      ],
      "id": "ba237a81-01ac-44f4-96fe-871df3c252c7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1392,
        16
      ],
      "id": "ecd0011e-7a09-4d3f-aa35-c4c9b6bf9da0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop Over Items').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        112
      ],
      "id": "6eb292e8-0d03-4bbc-b2cd-34782d9bf19d",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1824,
        528
      ],
      "id": "934c067b-6788-4fbf-bcc5-a1f5c2796d30",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_checker",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Crypto').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        112
      ],
      "id": "ee5f1bec-0c30-4cf4-a431-126d0b712222",
      "name": "Update a row",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e485ab53-ee68-4c14-b081-5ac07ae5dff4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "166d4689c59911f643f13e9d0fbff9a4bbf61161b611b792db80178b1ac7a8c9"
  },
  "id": "DZvclekW4Tm4MrnC",
  "tags": []
}
