myn8n/uQTqLH5At9PZOy2g.json
{
  "active": false,
  "connections": {
    "Watch Gmail for New Incoming Emails": {
      "main": [
        [
          {
            "node": "Classify Email Type with GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email Type with GPT-4o": {
      "main": [
        [
          {
            "node": " Only Proceed if Email is an Enquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Only Proceed if Email is an Enquiry": {
      "main": [
        [
          {
            "node": "LangChain Agent Handles Reply Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LangChain Agent Handles Reply Logic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory Buffer (Past 10 Interactions)": {
      "ai_memory": [
        [
          {
            "node": "LangChain Agent Handles Reply Logic",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Dumpling AI Agent – Search for Relevant Info": {
      "ai_tool": [
        [
          {
            "node": "LangChain Agent Handles Reply Logic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Response via Gmail": {
      "ai_tool": [
        [
          {
            "node": "LangChain Agent Handles Reply Logic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LangChain Agent Handles Reply Logic": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-05-05T21:52:32.382Z",
  "id": "uQTqLH5At9PZOy2g",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto-Respond to Gmail Enquiries using GPT-4o, Dumpling AI & LangChain Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -2300,
        -340
      ],
      "id": "149c7dd9-9f5f-4c5b-8342-7c907eb52402",
      "name": "Watch Gmail for New Incoming Emails",
      "credentials": {
        "gmailOAuth2": {
          "id": "j70r3RTMED1pgN3R",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Classify the following email content. Determine if it is an enquiry.\nIf it is an enquiry, return only this word: enquiry\nIf it is not an enquiry, return only this word: false\nDo not explain or add any other text. Only return the result.\nHere is the email body: {{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2080,
        -340
      ],
      "id": "8a0de384-9028-47e3-86e5-b5bf6476ae0c",
      "name": "Classify Email Type with GPT-4o",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6019006-0980-4cd6-8e5d-3f618fbca13a",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "enquiry",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1704,
        -340
      ],
      "id": "57756cd3-9009-4189-8cba-e2edba87554f",
      "name": " Only Proceed if Email is an Enquiry"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1484,
        -120
      ],
      "id": "64e851b8-7ff1-4b4c-9828-7c764594f1ea",
      "name": "GPT-4o Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fdhWALG84tBLgSZT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1364,
        -120
      ],
      "id": "2957c6ad-5e7b-4692-a96f-5c4fb5b8203c",
      "name": "Memory Buffer (Past 10 Interactions)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.dumplingai.com/api/v1/agents/generate-completion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\":\"{{ $('Watch Gmail for New Incoming Emails').item.json.snippet }}\"\n    }\n  ],\n  \"agentId\": \"a88a9b6c-1578-4da2-800b-561327367713\",\n  \"parseJson\": \"True\"\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1244,
        -120
      ],
      "id": "9e8617f1-cd89-4de5-9d44-ded155779745",
      "name": "Dumpling AI Agent – Search for Relevant Info",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5CBvzXCLjwWzCJRE",
          "name": "n8n_integration"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nnekajenniferalisieze@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1124,
        -120
      ],
      "id": "da474406-a6e3-427d-b21b-3e7e00ebe910",
      "name": "Send Email Response via Gmail",
      "webhookId": "b39f740b-77d1-426a-a07a-186a9ff0c1af",
      "credentials": {
        "gmailOAuth2": {
          "id": "j70r3RTMED1pgN3R",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Watch Gmail for New Incoming Emails').item.json.snippet }}",
        "options": {
          "systemMessage": "You are a helpful assistant, use the search for information tool to search for users information.\n\nuse Gmail tool to send email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1392,
        -340
      ],
      "id": "03882650-9272-43c3-b1bc-15adae456881",
      "name": "LangChain Agent Handles Reply Logic"
    },
    {
      "parameters": {
        "content": "### ✉️ Sticky Note 2: Website Scraping, Email Generation, and Sending\n\nFor leads with complete data, Dumpling AI scrapes the content of the lead’s company website. This content, combined with scraped details, is structured into a prompt using the Set node. GPT-4o processes the prompt and generates a personalized cold email. The email is then sent to the lead using Gmail. This automates targeted cold outreach using scraped insights and AI-generated messaging.\n",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1500,
        -560
      ],
      "typeVersion": 1,
      "id": "52bb3b65-0b7f-4206-87c9-1f91997a44dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Sticky Note 1: Apollo Link Sourcing & Contact Scraping\n\nThis section begins the workflow manually. The Apollo lead URLs are pulled from a Google Sheet. Each link is passed to Apify which scrapes key lead details such as name, email, company website, and other contact data. After scraping, a filter checks that both an email and website were found for the lead before moving forward. This ensures only complete lead data is used for outreach.\n\n",
        "height": 220,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2320,
        -540
      ],
      "typeVersion": 1,
      "id": "3a6df2e9-1d1a-4cab-889c-c323f876b98f",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-06T01:20:02.000Z",
  "versionId": "0f1d6a0b-eb13-4e1a-be9e-3f22eb17e66e"
}