A - Should I Go Outside (AI Activity Advisor).json
{
  "name": "A - Should I Go Outside (AI Activity Advisor)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "should-i-go-outside",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b58a622e-80e7-4e98-8e12-77d6fa9fb436",
      "name": "Webhook - Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        432
      ],
      "webhookId": "0a92c4e4-76f4-465e-b2be-b9d42180072d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec1a6cf9-2a76-4ec0-b3ba-4c20485d8be9",
              "name": "city",
              "value": "={{ $json.body.city }}",
              "type": "string"
            },
            {
              "id": "01e5065f-1f64-4fd8-9ba4-67bfcb700bda",
              "name": "activity",
              "value": "={{ $json.body.activity }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c29a39e3-4d42-40ae-b3eb-8ce3043d3e65",
      "name": "Set - Read Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        432
      ]
    },
    {
      "parameters": {
        "url": "https://geocoding-api.open-meteo.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.city }}"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "04b913fe-247b-4ae5-a378-d139efef1e65",
      "name": "HTTP - Geocode City",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13de7826-ba0b-4402-ad5a-e49d74ac4511",
              "leftValue": "={{ $json.results }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e28f5631-aaf0-41e0-a7c0-646da74d5544",
      "name": "IF - City Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16aedb17-1232-491b-bc7f-d48e1c52532f",
              "name": "lat",
              "value": "={{ $json.results[0].latitude }}",
              "type": "number"
            },
            {
              "id": "eec4a1b7-b096-4593-824b-0ecb82acb715",
              "name": "lon",
              "value": "={{ $json.results[0].longitude }}",
              "type": "number"
            },
            {
              "id": "1444e83a-22c4-4840-9434-fef8b0cd16ce",
              "name": "resolved_name",
              "value": "={{ $json.results[0].name }}, {{ $json.results[0].country }}",
              "type": "string"
            },
            {
              "id": "76040115-f9ca-48c5-86ff-829936ede585",
              "name": "city",
              "value": "={{ $('Set - Read Input').item.json.city }}",
              "type": "string"
            },
            {
              "id": "508193c6-8962-4438-b9ea-b4454be538db",
              "name": "activity",
              "value": "={{ $('Set - Read Input').item.json.activity }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ddf7dc65-26de-47eb-b1f5-2d8fae442ade",
      "name": "Set - Coordinates",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "current",
              "value": "temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,weather_code,wind_speed_10m,uv_index"
            },
            {
              "name": "hourly",
              "value": "temperature_2m,precipitation_probability,weather_code"
            },
            {
              "name": "forecast_hours",
              "value": "12"
            },
            {
              "name": "timezone",
              "value": "auto"
            }
          ]
        },
        "options": {}
      },
      "id": "2d5cd8e1-5402-4090-8a71-7a4264a0ab13",
      "name": "HTTP - Get Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Open-Meteo weather_code -> human description (WMO codes)\nconst wmo = {\n  0:'Clear sky',1:'Mainly clear',2:'Partly cloudy',3:'Overcast',\n  45:'Fog',48:'Depositing rime fog',\n  51:'Light drizzle',53:'Moderate drizzle',55:'Dense drizzle',\n  61:'Slight rain',63:'Moderate rain',65:'Heavy rain',\n  66:'Freezing rain',67:'Heavy freezing rain',\n  71:'Slight snow',73:'Moderate snow',75:'Heavy snow',77:'Snow grains',\n  80:'Slight rain showers',81:'Moderate rain showers',82:'Violent rain showers',\n  85:'Slight snow showers',86:'Heavy snow showers',\n  95:'Thunderstorm',96:'Thunderstorm with slight hail',99:'Thunderstorm with heavy hail'\n};\nconst w = $json.current;\nconst hourly = $json.hourly;\n\n// Max precip probability over the next 12h\nconst maxPrecipProb = Math.max(...(hourly.precipitation_probability || [0]));\n\n// Build a short hourly outlook string\nlet outlook = [];\nfor (let i = 0; i < Math.min(6, hourly.time.length); i++) {\n  const t = hourly.time[i].split('T')[1];\n  outlook.push(`${t}: ${hourly.temperature_2m[i]}C, rain ${hourly.precipitation_probability[i]}%`);\n}\n\nreturn [{ json: {\n  resolved_name: $('Set - Coordinates').item.json.resolved_name,\n  activity: $('Set - Coordinates').item.json.activity,\n  temperature: w.temperature_2m,\n  feels_like: w.apparent_temperature,\n  humidity: w.relative_humidity_2m,\n  wind_speed: w.wind_speed_10m,\n  uv_index: w.uv_index,\n  precip_now: w.precipitation,\n  conditions: wmo[w.weather_code] || 'Unknown',\n  max_precip_prob_12h: maxPrecipProb,\n  hourly_outlook: outlook.join(' | ')\n}}];"
      },
      "id": "5f4066a6-6df6-4b8f-b2ea-7607a2b0fb96",
      "name": "Code - Shape Weather",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A user in {{ $json.resolved_name }} wants to: {{ $json.activity }}.\n\nCurrent conditions:\n- Temperature: {{ $json.temperature }}C (feels like {{ $json.feels_like }}C)\n- Conditions: {{ $json.conditions }}\n- Humidity: {{ $json.humidity }}%\n- Wind: {{ $json.wind_speed }} km/h\n- UV index: {{ $json.uv_index }}\n- Rain right now: {{ $json.precip_now }} mm\n- Max chance of rain next 12h: {{ $json.max_precip_prob_12h }}%\n- Next hours: {{ $json.hourly_outlook }}\n\nDecide whether NOW is a good time for this activity. Be decisive and practical.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a practical outdoor activity advisor. Give a clear verdict and concise, specific reasoning based only on the weather data provided. Recommend gear or a better time window if relevant. Keep advice tight and useful."
            }
          ]
        }
      },
      "id": "4251a5d5-a3d3-4620-9408-a2dde36010ce",
      "name": "AI - Activity Verdict",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1584,
        320
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "llama-3.3-70b-versatile"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "382b0121-f7ac-4500-8703-b11beeacad72",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "XyvZvlTQgJzqL3H5",
          "name": "groq"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"verdict\": \"go\", \"score\": 8, \"headline\": \"Great window for a run right now\", \"reasoning\": \"Mild 18C, low rain chance, light wind.\", \"what_to_bring\": [\"Water\", \"Light layer\"], \"better_time\": \"none\"}"
      },
      "id": "a44e4a98-e28b-4301-acc3-791ae05154a0",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1760,
        544
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bd62dd5c-a34a-4bd2-ad71-b1c3c96fcdb3",
                    "leftValue": "={{ $json.output.verdict }}",
                    "rightValue": "go",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Go"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "883ae748-5935-4d29-8633-9a6c8f8dcefb",
                    "leftValue": "={{ $json.output.verdict }}",
                    "rightValue": "caution",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Caution"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3e12e67b-f52a-47df-adde-cc0c58125179",
                    "leftValue": "={{ $json.output.verdict }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Skip"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "6c078a0b-288b-4ff6-b156-7aacbaa4486e",
      "name": "Switch - Verdict",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1968,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"Go\",\n  \"location\": \"{{ $json.output ? $('Code - Shape Weather').item.json.resolved_name : '' }}\",\n  \"activity\": \"{{ $('Code - Shape Weather').item.json.activity }}\",\n  \"verdict\": \"{{ $json.output.verdict }}\",\n  \"score\": {{ $json.output.score }},\n  \"headline\": \"GO {{ $json.output.headline }}\",\n  \"reasoning\": \"{{ $json.output.reasoning }}\",\n  \"what_to_bring\": {{ JSON.stringify($json.output.what_to_bring) }},\n  \"better_time\": \"{{ $json.output.better_time }}\"\n}",
        "options": {}
      },
      "id": "42e86ef0-6c43-4697-bfa7-878abf068c48",
      "name": "Respond - Go",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2208,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"Caution\",\n  \"location\": \"{{ $json.output ? $('Code - Shape Weather').item.json.resolved_name : '' }}\",\n  \"activity\": \"{{ $('Code - Shape Weather').item.json.activity }}\",\n  \"verdict\": \"{{ $json.output.verdict }}\",\n  \"score\": {{ $json.output.score }},\n  \"headline\": \"CAUTION {{ $json.output.headline }}\",\n  \"reasoning\": \"{{ $json.output.reasoning }}\",\n  \"what_to_bring\": {{ JSON.stringify($json.output.what_to_bring) }},\n  \"better_time\": \"{{ $json.output.better_time }}\"\n}",
        "options": {}
      },
      "id": "4cb2a047-0736-4636-b28c-1ba26e5117b6",
      "name": "Respond - Caution",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2208,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"Skip\",\n  \"location\": \"{{ $json.output ? $('Code - Shape Weather').item.json.resolved_name : '' }}\",\n  \"activity\": \"{{ $('Code - Shape Weather').item.json.activity }}\",\n  \"verdict\": \"{{ $json.output.verdict }}\",\n  \"score\": {{ $json.output.score }},\n  \"headline\": \"SKIP {{ $json.output.headline }}\",\n  \"reasoning\": \"{{ $json.output.reasoning }}\",\n  \"what_to_bring\": {{ JSON.stringify($json.output.what_to_bring) }},\n  \"better_time\": \"{{ $json.output.better_time }}\"\n}",
        "options": {}
      },
      "id": "9f5edb1e-4586-48cf-acab-b71876bc8260",
      "name": "Respond - Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2240,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"City not found. Please check the spelling.\",\n  \"city\": \"{{ $('Set - Read Input').item.json.city }}\"\n}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "9ac7c2b9-a370-4177-860c-28f163dca547",
      "name": "Respond - Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        928,
        592
      ]
    },
    {
      "parameters": {
        "content": "## Should I Go Outside?\nAI activity advisor.\n\n**Free stack:**\n- Open-Meteo geocoding (no key)\n- Open-Meteo forecast (no key)\n- Groq Llama 3.3 70B (free)\n\nPOST { \"city\": \"Lagos\", \"activity\": \"go for a run\" }",
        "height": 356,
        "width": 428,
        "color": 6
      },
      "id": "51a456ce-1eac-43fa-a0ca-c51f7f1fc780",
      "name": "Sticky Note 37013",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        144
      ]
    },
    {
      "parameters": {
        "content": "### Geocoding chain\nCity name has no coordinates. We must look up lat/lon FIRST, then feed it to the weather call. Classic 2-step API dependency.",
        "height": 230,
        "width": 448,
        "color": 5
      },
      "id": "fc653899-a29a-4718-9b10-cf69113e4005",
      "name": "Sticky Note 8fec7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        208
      ]
    },
    {
      "parameters": {
        "content": "### Code node\nWMO weather codes are just numbers (0-99). We translate them to words and compute the worst rain chance over 12h, so the AI gets clean inputs.",
        "height": 284,
        "width": 368,
        "color": 7
      },
      "id": "c9869ccf-6624-4a3d-8423-f06f3b731525",
      "name": "Sticky Note 2420f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        96
      ]
    },
    {
      "parameters": {
        "content": "### Structured output + Switch\nThe AI must return verdict = go / caution / skip. The Switch then routes to the matching response. Deterministic branching on an AI decision.",
        "height": 328,
        "width": 336,
        "color": 4
      },
      "id": "dd6fef4a-7ebb-4b63-bc01-a102ac470484",
      "name": "Sticky Note caee7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        80
      ]
    }
  ],
  "pinData": {
    "Webhook - Request": [
      {
        "json": {
          "headers": {
            "host": "sapphire124.app.n8n.cloud",
            "user-agent": "n8n",
            "content-length": "42",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "20.52.126.8",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "a0e1bdaa9abe6d26-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "20.52.126.8, 104.23.239.53",
            "x-forwarded-host": "sapphire124.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-18-74bcb4cc6-79b82",
            "x-is-trusted": "yes",
            "x-real-ip": "20.52.126.8"
          },
          "params": {},
          "query": {},
          "body": {
            "city": "Lagos",
            "activity": "go for a run"
          },
          "webhookUrl": "https://sapphire124.app.n8n.cloud/webhook-test/should-i-go-outside",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "HTTP - Get Weather": [
      {
        "json": {
          "latitude": 6.4323373,
          "longitude": 3.3948028,
          "generationtime_ms": 0.2073049545288086,
          "utc_offset_seconds": 3600,
          "timezone": "Africa/Lagos",
          "timezone_abbreviation": "GMT+1",
          "elevation": 8,
          "current_units": {
            "time": "iso8601",
            "interval": "seconds",
            "temperature_2m": "°C",
            "relative_humidity_2m": "%",
            "apparent_temperature": "°C",
            "precipitation": "mm",
            "weather_code": "wmo code",
            "wind_speed_10m": "km/h",
            "uv_index": ""
          },
          "current": {
            "time": "2026-06-19T11:15",
            "interval": 900,
            "temperature_2m": 28.4,
            "relative_humidity_2m": 76,
            "apparent_temperature": 34.1,
            "precipitation": 0,
            "weather_code": 2,
            "wind_speed_10m": 11,
            "uv_index": 5.65
          },
          "hourly_units": {
            "time": "iso8601",
            "temperature_2m": "°C",
            "precipitation_probability": "%",
            "weather_code": "wmo code"
          },
          "hourly": {
            "time": [
              "2026-06-19T11:00",
              "2026-06-19T12:00",
              "2026-06-19T13:00",
              "2026-06-19T14:00",
              "2026-06-19T15:00",
              "2026-06-19T16:00",
              "2026-06-19T17:00",
              "2026-06-19T18:00",
              "2026-06-19T19:00",
              "2026-06-19T20:00",
              "2026-06-19T21:00",
              "2026-06-19T22:00"
            ],
            "temperature_2m": [
              28.3,
              28.8,
              28.4,
              28.7,
              28.1,
              28.2,
              27.5,
              27.1,
              27.2,
              26.8,
              26.3,
              26
            ],
            "precipitation_probability": [
              53,
              70,
              82,
              87,
              89,
              88,
              85,
              79,
              71,
              58,
              43,
              33
            ],
            "weather_code": [
              1,
              3,
              51,
              51,
              51,
              51,
              51,
              51,
              51,
              51,
              53,
              51
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "HTTP - Geocode City": [
      {
        "json": {
          "results": [
            {
              "id": 2332459,
              "name": "Lagos",
              "latitude": 6.45407,
              "longitude": 3.39467,
              "elevation": 11,
              "feature_code": "PPLA2",
              "country_code": "NG",
              "admin1_id": 2332453,
              "timezone": "Africa/Lagos",
              "population": 15388000,
              "country_id": 2328926,
              "country": "Nigeria",
              "admin1": "Lagos"
            }
          ],
          "generationtime_ms": 0.35953522
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI - Activity Verdict": [
      {
        "json": {
          "output": {
            "verdict": "Not Recommended",
            "score": 2,
            "headline": "High Chance of Rain",
            "reasoning": "The current weather conditions show a high chance of rain, with an 89% chance of rain in the next 12 hours, making it unfavorable for outdoor activities.",
            "what_to_bring": [
              "Umbrella",
              "Raincoat",
              "Waterproof gear"
            ],
            "better_time": "Early morning or late evening when the chance of rain is lower"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook - Request": {
      "main": [
        [
          {
            "node": "Set - Read Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Read Input": {
      "main": [
        [
          {
            "node": "HTTP - Geocode City",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Geocode City": {
      "main": [
        [
          {
            "node": "IF - City Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - City Found?": {
      "main": [
        [
          {
            "node": "Set - Coordinates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Coordinates": {
      "main": [
        [
          {
            "node": "HTTP - Get Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Weather": {
      "main": [
        [
          {
            "node": "Code - Shape Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Shape Weather": {
      "main": [
        [
          {
            "node": "AI - Activity Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Activity Verdict": {
      "main": [
        [
          {
            "node": "Switch - Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI - Activity Verdict",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI - Activity Verdict",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Verdict": {
      "main": [
        [
          {
            "node": "Respond - Go",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Caution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a6f3bf8d-94b9-430f-bc85-71c71d145a4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "928fd28b10ec34d5af321047ea79a10cb7d59840869ecdfe549a05027c71692c"
  },
  "nodeGroups": [],
  "id": "cFd7NnQPwcvXG4Yx",
  "tags": []
}