Upload_KnowledgeBase in supabase (1).json
{
  "name": "Upload_KnowledgeBase in supabase",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1824,
        -192
      ],
      "id": "ecd18115-3ff5-4215-9568-5159b80db4bb",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1792,
        32
      ],
      "id": "2f21abb7-26a8-4503-bf79-849b69e06522",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TgvP6xEbKcWZ2EQW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1KhUYRzYPUZMQgUjdk01cfEAoitUfsWbU",
          "mode": "list",
          "cachedResultName": "files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KhUYRzYPUZMQgUjdk01cfEAoitUfsWbU"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        -352
      ],
      "id": "2ee8721b-5c34-4cb3-a4a3-5af4eb9ca0fd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nEtpJhJoOfvwlOzK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        -368
      ],
      "id": "b5aa33cb-071f-4a72-a939-67dc79b6f8b4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nEtpJhJoOfvwlOzK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_checker",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "Google_ID",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        -272
      ],
      "id": "c9ce34a4-c6e5-41c9-b5cf-afc544c2f3bc",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA3-256",
        "value": "={{ $json.text}}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        448,
        -272
      ],
      "id": "a87171dd-5eb3-47a4-868c-bc72d0ddb60f",
      "name": "Crypto"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -768,
        -352
      ],
      "id": "92f7c68f-b19e-4207-8e54-27cdc10dedd4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "tableId": "record_checker",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Google_ID",
              "fieldValue": "={{ $('Download file').item.json.id }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Crypto').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -368
      ],
      "id": "8424702c-a617-4020-963f-daf270b0875b",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "11553ac8-f8fa-4694-a350-19a7bfb6883d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New_record"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "15fb3a5e-efaf-4e05-9ca4-897d20d92bf2",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Crypto').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Same_record"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f73ea575-f3e1-4353-903b-0cd375aaedc6",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Crypto').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "diff.record"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        896,
        -288
      ],
      "id": "b573e9e3-d02e-4581-89f6-20a7a5496025",
      "name": "Switch"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1920,
        32
      ],
      "id": "ba237a81-01ac-44f4-96fe-871df3c252c7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        -368
      ],
      "id": "ecd0011e-7a09-4d3f-aa35-c4c9b6bf9da0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop Over Items').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        -176
      ],
      "id": "6eb292e8-0d03-4bbc-b2cd-34782d9bf19d",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2000,
        240
      ],
      "id": "934c067b-6788-4fbf-bcc5-a1f5c2796d30",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_checker",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Crypto').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -176
      ],
      "id": "ee5f1bec-0c30-4cf4-a431-126d0b712222",
      "name": "Update a row",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "B87UiuQYKNwWDydA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "578ae3fa-c7dc-44d3-aaaf-e4d29388e276"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec013a4a-70e0-4072-ad1b-e796072266d8",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -448,
        -272
      ],
      "id": "52209981-b04d-405b-95b0-00f883d947ae",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a97225f3-9f09-42ab-abda-81ad911ea368",
              "name": "text",
              "value": "={{ $json.content || $json.text }}",
              "type": "string"
            },
            {
              "id": "9fb9e425-e23d-4b32-9ea3-0818800323c8",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -272
      ],
      "id": "c0ef1b26-cc27-4166-b4f0-cfdb54a0d320",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id}}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        0,
        -176
      ],
      "id": "683a067f-fd03-413a-94be-bdc8ce2ebf88",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "iibrcYq6jqK0g4F2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e7c56af-dc15-4da1-a1ee-5f7465765f24",
              "name": "test",
              "value": "={{ $('Edit Fields').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -272
      ],
      "id": "8e2bb0ce-9c32-4367-854f-9e50677b9d8b",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "723ab44d-e657-4565-8dc6-65650d310d2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "166d4689c59911f643f13e9d0fbff9a4bbf61161b611b792db80178b1ac7a8c9"
  },
  "id": "DZvclekW4Tm4MrnC",
  "tags": []
}